includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - app
    excludePaths:
        - app/Console/Commands/RelayOutboxCommand.php # infinite daemon loop by design
